.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.searchBar{
  margin-left: 700px;
  border: none;
  border-bottom: 2px solid;
}